{
  "plugins": [],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-class-pattern": "",
    "scss/function-no-unknown": null,
    "at-rule-empty-line-before": null
  },
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines",
    "stylelint-config-css-modules",
    "stylelint-config-standard-scss"
  ]
}
