# Default owners for all files
* @suzubara @gidjin @tinyels @sarboc @haworku @ahobson @brandonlenz @sirenaborracha

# Owners for PRs that change ONLY package.json and/or yarn.lock
# Note: reviewers for dependabot PRs that change these files are configured in .github/dependabot.yml  under `reviewers`
package.json yarn.lock
