# Default owners for all files

* @trussworks/react-uswds-admins

# Require design / frontend reviews on Storybook

src/stories/ @trussworks/react-uswds-design-owners
*.stories.tsx @trussworks/react-uswds-design-owners
.storybook/ @trussworks/react-uswds-design-owners

# Owners for PRs that change ONLY package.json and/or yarn.lock

package.json
yarn.lock
