# Default owners for all files

* @gidjin @haworku @ahobson @brandonlenz @sirenaborracha @kylehilltruss @rogeruiz @jcbcapps

# Owners for PRs that change ONLY package.json and/or yarn.lock

# Note: Reviewers for dependabot PRs that change these files are configured in .github/dependabot.yml under `reviewers`

package.json
yarn.lock
