version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/react-uswds
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1.0.0-dependencies-{{ checksum "package.json" }}
            - v1.0.0-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1.0.0-dependencies-{{ checksum "package.json" }}

      - run: yarn test
      - run: yarn lint
      - run: yarn danger ci --failOnErrors
