// Custom theme settings/USWDS overrides go here
@use 'uswds-core' with (
  $theme-image-path: '@uswds/uswds/img',
  $theme-font-path: '@uswds/uswds/fonts',
  $theme-font-weight-semibold: 600,
  $theme-show-notifications: false
);
