@forward 'uswds-theme';

@forward 'backgrounds';
@forward 'type';

// This should be set by USWDS but isn't
// It can be removed when https://github.com/uswds/uswds/issues/4458 is fixed
.usa-tooltip__body {
  opacity: 0;
}

// This fixes a chromium browser bug that causes accessibility issues in the search field
// It can be removed when https://github.com/uswds/uswds/issues/5277 is fixed
.usa-search [type='search']::-webkit-search-cancel-button {
  display: none;
}
