.title {
  h2 {
    margin: 0;
  }
}

.actions {
  text-align: right;
}

.title + .content,
.content + .actions {
  @include u-border-top(1px);
  @include u-border-top($theme-color-base-lighter);
}

.modal {
  @include u-bg('white');
  @include u-shadow(3);
  @include u-radius('sm');

  // TODO what should this value be?
  max-width: 630px;

  .title,
  .content,
  .actions {
    padding: units(2);
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.modalContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
