.tooltip .tooltipText{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.usa-tooltip__body--top {
  margin-left: 56.5px;
  margin-bottom: 61px;
}

.usa-tooltip--bottom, .tooltipText{
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.usa-tooltip--right, .tooltipText{
  top: -5px;
  left: 105%;
}

.usa-tooltip--left, .tooltipText{
  top: -5px;
  right: 105%;
}